body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 220px;
}

.result{
    border: 2px solid black;
    display: flex;
    width: 220px;
    height: 60px;
}

label{
    margin: 20px
}

.digit{
    display: grid;
    grid-template-columns: auto auto auto;
}

.digit button{
    padding: 20px;
}

.buttons {
    display: flex;
    margin: 20px;
}

.operators{
    display: grid;
}

.operators button{
    padding: 0 15px;
}

