body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #93acb5;
}

.head{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 250px;
    border-radius: 5%;
    background-color: #b7c9e2;
}

.result{
    border: 2px solid black;
    display: flex;
    align-items: center;
    width: 220px;
    height: 60px;
    margin-top: 10px;
    border-radius: 4%;
    background-color: white;
    font-size: 24px;
}

label{
    margin: 20px
}

.digit{
    display: grid;
    grid-template-columns: auto auto auto;
}

.digit button{
    padding: 20px;
}

.buttons {
    display: flex;
    margin: 20px;
}

.operators{
    display: grid;
}

.operators button{
    padding: 0 15px;
}

